  .example-card {
    max-width: 300px;
    max-height: 550px;
    margin: 20px 25px 20px 25px;
    padding: 0.1px;
    border-radius: 5px;
    position: center;

  }

  .example-sidenav-content {
    margin: 25px 0px 25px 0px;
    padding-top: 60px;
    background: rgb(220,202,145);
    background: linear-gradient(180deg, rgba(220,202,145,1) 35%, rgba(255,255,255,1) 100%);
  }
  .container {
    /*position: relative;*/
    margin: 0px;
    padding: 0px;
    width: 100%;
  }
  .container .image{
    /*position: relative;*/
    /*width: 100%;*/
    background-size: cover;
    border-radius: 5px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  
    .image {
    opacity: 1;
    display: block;
    width: 100.0%;
    height: auto;
    transition: .1s ease;
    backface-visibility: hidden;
    background-size: cover;
  }
  
  .middle {
    transition: .1s ease;
    opacity: 0;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 16px;
    
  }
  
  mat-card-header-text{
      margin-bottom: 10px;
      padding-left: 0px;
      margin-left: 0px;
  }

  mat-card-title {
      padding-bottom: 10px;
      padding-left: 0px;
      text-align: left;
      color: rgba(94, 75, 54, 0.829);
  }
  .productTitle {
    font-size: 18px;
    font-weight: bold;
    color: rgba(94, 75, 54, 0.829);
  }

.boutoncommande button {
    background: rgba(156, 40, 30, 0.95);
    font-size: 12px;
    color: white;
    margin-top: 10px;
}
.star-rating  {
    color: gold;
    padding-bottom: 16px;
}

/* Spinner */
 .background-spinner  {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.05);
}
 .spinner   {
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  stroke:rgb(185, 117, 90) ;
  color: rgb(185, 117, 90)!important;
  /* Avant : color: rgba(0, 0, 0, 1);*/
  text-align: center;
  margin-top: 20%;
}

mat-card-content {
  padding-left: 15px;
  padding-bottom: 2px;
}

mat-card-actions{
  text-align: center;
  margin-bottom: 20px;
}
element.style {
  transform-origin: 50% 127.5px 0px;
  font-size: 14px;
  opacity: 1;
  min-width: calc(100% + 80px);
  transform: scaleY(1);
}

  ::ng-deep mat-form-field.mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-label {
  top: -3;
  margin-top: 5;
}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: -1px;
}
::ng-deep .mat-form-field-subscript-wrapper {
  display: none;
}

mat-form-field{
  min-width: 95%;
  height: 0.7em;
}

.product-form {
  max-height: 30%;
}



