<footer>
    <div class="footer">

        <div class="copyright" fxLayout="row" fxLayoutAlign="start center"><span
                style="font-weight: 100; margin-right: 10px;">© Fournil de Blausasc {{ myDate | date:'yyyy' }}</span>

        </div>

        <div class="logos" fxLayout="row" fxLayoutAlign="space-around center" fxFlex="50">


            <img class="logoimg" src="/assets/shared/img/img-footer/farines-bio-2.png" fxFlex="20">


            <img class="logoimg" src="/assets/shared/img/img-footer/four-bois-3.png" fxFlex="20">


            <img class="logoimg" src="/assets/shared/img/img-footer/pain-au-levain.png" fxFlex="20">


            <img class="logoimg" src="/assets/shared/img/img-footer/pain-fait_main.png" fxFlex="20">

        </div>
        <div class="contact" fxLayout="row" fxLayoutAlign="start center">contact: 06.65.18.19.00</div>
    </div>
</footer>